* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.strona {
    background-color: white;
    width: 1000px;
    height: 1600px;
}

.glowa {
    display: flex;
    justify-content: center;
}

.nawias {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 900px;
    height: 100px;
}

h1 {
    color: white;
}

h3 {
    color: green;
}

h2 {
    color: green;
    margin-left: 75px;

}

.planet {
    position: absolute;
    display: block;
    margin-right: 650px;
}

.opis {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kwerenda {
    margin-top: 30px;
}

.perszy1 {
    width: 800px;
    margin-top: 50px;
    margin-left: 75px;
    color: white;
    background-color: green;
}

p {
    margin-top: 15px;
    margin-left: 310px;
    width: 550px;
}

.gift {
    position: absolute;
    margin-top: 15px;
    margin-left: 75px;
    width: 220px;
    height: 150px;
}

.gift1 {
    position: absolute;
    margin-top: 45px;
    margin-left: 75px;
    width: 220px;
    height: 150px;
}

.drugi1 {
    width: 800px;
    margin-top: 110px;
    margin-left: 75px;
    color: white;
    background-color: green;
}

.autor {
    margin-top: 125px;
    background-color: green;
    width: 1000px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.niz {
    color: white;
}